html {
  scroll-behavior: smooth;
}


.navbar {
  background-color: #222;
  color: white;
  display: flex;
  padding: 12px 10px;
  justify-content: space-between;
  border-bottom: solid rebeccapurple 1px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navbar .new {
}

.logo a {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.logo a:hover {
  color: dimgray;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #333;
  padding: 2px 5px;
  font-weight: bold;
  border: solid 1px rebeccapurple;
}

.menu a:hover {
  color: gray;
}



body {
  font-family: arial;
  background-color: #333;
  color: white;
  padding-top: 58px;
  padding-bottom: 68px;
  text-align: center;
}



.about {
  margin: 0 auto;
  margin-bottom: 18px;
  background-color: #222;
  width: 340px;
  padding: 11px 15px;
  border-radius: 15px;
  border: solid 1px rebeccapurple;
}

.about .title {
  font-weight: bold;
  font-size: 18px;
  text-align: justify;
}

.about p {
  text-align: left;
  line-height: 20px;
}

.about a {
  color: white;
}

.about img {
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
}



.instructions {
  background-color: #222;
  margin: 0 auto;
  width: 340px;
  margin-bottom: 18px;
  padding: 11px 15px;
  border-radius: 15px;
  border: solid 1px rebeccapurple;
}

.instructions .title {
  font-weight: bold;
  font-size: 18px;
  text-align: justify;
}

.instructions .indentantion {
  margin-left: 10px;
}

.instructions p {
  text-align: left;
  line-height: 20px;
}

.instructions a {
  color: white;
}

.instructions img {
  width: 160px;
  border-radius: 5px;
}



.news {
  background-color: #222;
  margin: 0 auto;
  width: 340px;
  margin-bottom: 18px;
  padding: 11px 15px;
  padding-bottom: 1px;
  border-radius: 15px;
  border: solid 1px rebeccapurple;
}

.news .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news .name {
  font-weight: bold;
  font-size: 20px;
}

.news .date {
  font-weight: bold;
  font-size: 15px;
}

.news .content {
  text-align: justify;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.news .content a {
  color: white;
}


#top {
  scroll-margin-top: 100px;
}

.img-link {
  align-items: center;
}

.img-link a {
  color: white;
  text-decoration: none;
  margin: 2px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #222;
  padding: 2px 5px;
  font-weight: bold;
  border: solid 1px rebeccapurple;
}

.link a:hover {
  color: gray;
}

#spawn {
  scroll-margin-top: 60px;
}

#minihry {
  scroll-margin-top: 60px;
}

#new-builds {
  scroll-margin-top: 60px;
}

.image {
  background-color: #222;
  margin: 0 auto;
  width: 340px;
  margin-bottom: 18px;
  padding: 11px 15px;
  border-radius: 15px;
  border: solid 1px rebeccapurple;
}

.image .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.image .name {
  font-weight: bold;
  font-size: 20px;
}

.image img {
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

.top-arrow {
  color: white;
  position: fixed;
  bottom: 15px;
  right: 11px;
  background: #333;
  border: solid rebeccapurple 1px;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-decoration: none;
  display: none;
  opacity: 100%;
  transform: rotate(-90deg);
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 78px;
  background-color: #222;
  color: white;
  text-align: center;
  align-content: center;
  line-height: 21px;
  border-top: solid rebeccapurple 1px;
  border-bottom: solid rebeccapurple 1px;
  font-size: 17px;
}

.footer a {
  color: white;
}

.footer span {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.contacts img {
  height: 18px;
  width: 18px;
  border-radius: 2px;
  margin-right: 2px;
}